---

- name: Compatibility Warning
  ansible.builtin.debug:
    msg: "This role is only compatible with Ubuntu (ppa) and Fedora (COPR)"
  when: >
    not (ansible_distribution == 'Ubuntu' and
          (
            ansible_distribution_release == 'bionic' or
            ansible_distribution_release == 'focal' or
            ansible_distribution_release == 'jammy' or
            ansible_distribution_release == 'noble'
          )
        )
    and ansible_distribution != "Fedora"

- name: Include variables
  ansible.builtin.include_vars: "{{ lookup('ansible.builtin.first_found', params) }}"
  vars:
    params:
      files:
        - "{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml"
        - "{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml"
        - '{{ ansible_distribution }}.yml'
        - "{{ ansible_os_family }}-{{ ansible_distribution_major_version }}.yml"
        - '{{ ansible_os_family }}.yml'
      paths:
        - 'vars'

- name: Import debian
  ansible.builtin.import_tasks: debian.yml
  when:
    - ansible_distribution == 'Ubuntu'

- name: Import redhat
  ansible.builtin.import_tasks: redhat.yml
  when: ansible_os_family == "RedHat" and ansible_distribution == "Fedora"
